<a href="https://colab.research.google.com/github/allyracho/Group-Project-3/blob/master/NFL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://raw.githubusercontent.com/jjl6096/.com/master/G2.png)

In [0]:
import sqlite3 
connectionToDatabase = sqlite3.connect('NFL') 

cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS HeadCoach''')
connectionToDatabase.commit()

cursor.execute('''create table HeadCoach (coachID text PRIMARY KEY, F_Name text, L_Name text, TeamName text, YearsPresent int, NumberofWins int)''')
connectionToDatabase.commit()

cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS HighestPaidPlayer''')
connectionToDatabase.commit()

cursor.execute('''create table HighestPaidPlayer (playerID text PRIMARY KEY,  F_Name text, L_Name text, TeamName text, position text, NetWorth int, DOB int)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS Team''')
connectionToDatabase.commit()

cursor.execute('''create table Team (TeamName text PRIMARY KEY, Players int, Coach text, Location text, NumberofWins int)''')
connectionToDatabase.commit()

cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Revenue''')
connectionToDatabase.commit()

cursor.execute('''create table Revenue (TeamName text PRIMARY KEY, Location text, TicketSales int, MerchandiseSales int)''')
connectionToDatabase.commit()

cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS MVPWinners''')
connectionToDatabase.commit()

cursor.execute('''create table MVPWinners (PlayerID text PRIMARY KEY, F_Name text, L_Name text, TeamName text, Position text, AgeofWinning int)''')
connectionToDatabase.commit()

cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS QBR''')
connectionToDatabase.commit()

cursor.execute('''create table QBR (PlayerID text PRIMARY KEY, F_Name text, L_Name text, TeamName text, Completionpercentage real, YearsActive real)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into HeadCoach values ('46', 'Doug', 'Pederson', 'Philidelphia Eagles', 4, 37);''')
connectionToDatabase.commit()
cursor.execute('''insert into HeadCoach values ('30', 'Bill', 'Belichick', 'New England Patriots', 19, 202);''')
connectionToDatabase.commit()
cursor.execute('''insert into HeadCoach values ('12', 'Mike', 'Tomlin', 'Pittsburg Steelers', 12, 129);''')
connectionToDatabase.commit()
cursor.execute('''insert into HeadCoach values ('23', 'Sean', 'McVay', 'Los Angeles Rams', 2, 29);''')
connectionToDatabase.commit()
cursor.execute('''insert into HeadCoach values ('27', 'Adam', 'Gase', 'New York Jets', 1, 4);''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Revenue values ('Philidelphia Eagles', 'Philidelphia, PA', 78000000.00, 198000000.00);''')
connectionToDatabase.commit()
cursor.execute('''insert into Revenue values ('New England Patriots', 'Boston, MA', 104000000.00, 360000000.00);''')
connectionToDatabase.commit()
cursor.execute('''insert into Revenue values ('Pittsburg Steelers', 'Pittsburg, PA', 85000000.00, 154000000.00);''')
connectionToDatabase.commit()
cursor.execute('''insert into Revenue values ('Los Angeles Rams', 'Los Angeles, CA', 70000000.00, 93000000.00);''')
connectionToDatabase.commit()
cursor.execute('''insert into Revenue values ('New York Jets', 'New York, NY', 65000000.00, 81300000.00);''')
connectionToDatabase.commit()

In [0]:
insertStatement =  """insert into Team values ('Philidelphia Eagles', '12', '46', 'Philidephia, PA', 37)""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Team values ('New England Patriots', '23', '30', 'Boston, MA', 202)""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Team values ('Pittsburg Steelers', '34', '12', 'Pittsburgh, PA', 129)""" 
cursor.execute(insertStatement)
insertStatement =  """insert into Team values ('Los Angeles Rams', '45', '23', 'Los Angeles, CA', 29)""" 
cursor.execute(insertStatement)
insertStatement = """insert  into Team values ('New York Jets', '46','27','New York, NY', 4)"""
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into MVPWinners values ('20', 'Patrick', 'Mahomes', 'Kansas City Chiefs', 'QB', 24);''')
connectionToDatabase.commit()
cursor.execute('''insert into MVPWinners values ('3', 'Tom', 'Brady', 'New England Patriots', 'QB', 41);''')
connectionToDatabase.commit()
cursor.execute('''insert into MVPWinners values ('122', 'Matt', 'Ryan', 'Atlanta Falcons', 'QB', 32);''')
connectionToDatabase.commit()
cursor.execute('''insert into MVPWinners values ('75', 'Cam', 'Newton', 'Carolina Panthers', 'QB', 27);''')
connectionToDatabase.commit()
cursor.execute('''insert into MVPWinners values ('12', 'Aaron', 'Rodgers', 'Green Bay Packers', 'QB', 31);''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into QBR values ('12', 'Carson', 'Werkz', 'Philadelphia Eagles', '65.5%', 5);''')
connectionToDatabase.commit()
cursor.execute('''insert into QBR values ('23', 'Mason', 'Pudolph', 'Pittsburgh Steelers', '78.7%', 3);''')
connectionToDatabase.commit()
cursor.execute('''insert into QBR values ('34', 'Kirk', 'Cousins', 'Minnesota Vikings', '35.5', 4);''')
connectionToDatabase.commit()
cursor.execute('''insert into QBR values ('45', 'Josh', 'Rosen', 'Miami Dophins', '39.4', 3);''')
connectionToDatabase.commit()
cursor.execute('''insert into QBR values ('20', 'Luke', 'Faulk', 'New York Jets', '26.2', 2);''')
connectionToDatabase.commit()

What is the total amount of revenue produced by ticket sales among the 5 teams?

In [0]:
cursor.execute('''select SUM(TicketSales) from Revenue''')
for row in cursor.fetchall():
  print (row)

(402000000,)

The group decided on this question because we were fascinated by the high intake many teams achieve. We took averages and believed the total to be around $5 million. The result was close to what was expected, but we over-estimated. This suggests how much revenue the NFL is making off all teams, since the data only include ticket sale revenue of five teams.

 How many of the MVP Winners are above the age of 25?

In [0]:
cursor.execute('''select Count(AgeofWinning) from MVPWinners WHERE AgeofWinning> 25 ''')
for row in cursor.fetchall():
  print (row)

(4,)

This question is important because we are interested in seeing how many players are keeping good form with their growing age. The group is also interesting in seeing if more older players are winning. The results match up to our expectations. We can see that there are a lot of players winning MVP older than 25.

Where is the location of each team?

In [0]:
cursor.execute('''select h.TeamName, t.Location from Team t, HeadCoach h where t.Coach=h.coachID''')
for row in cursor.fetchall():
  print (row)

('Philidelphia Eagles', 'Philidephia, PA')
('New England Patriots', 'Boston, MA')
('Pittsburg Steelers', 'Pittsburgh, PA')
('Los Angeles Rams', 'Los Angeles, CA')

The group felt this to be a suitable question as it easily locates the team and displays which city and state it is in. Our expections for what would be shown were correct, with the team name being first, and the location following after. This question allows for any team to be found conveniently if their team name does not necessarily match their location.